<%- include("Layouts/header.ejs"); %>
<section class="">
	<section class="bg text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-4" >
                    <h3 class="mt-5">We are Social Media Downloder</h3>
                    <p>Copy and paste your videos links and download your video free of cost</p>
                    <!------>
                    <div class="card p-3 shadow bg2 br">
                        <div class="mt-4">
                            <form method="post">
                                <h6 class="text-dark">Download Pintrest Video or Image</h6>
                                <small class="text-dark">Enter And Paste Your Link Here ..</small>
                                <input type="url" class="form-control form-control-sm mt-3 br" placeholder="Enter Your Link" name="pinvalue" required>
                                <input type="submit" class="btn btn-sm btn-primary mt-3" value="Download"> 
                            </form>
                        </div>
                    </div>
                    <% if (typeof(data) !== "undefined") { %>
                        <div class="card p-3 shadow bg2 br w-50 mt-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="<%=data.thumbnail%>" alt="Sorry Thumb not Availbel" class="text-dark w-50 br h-50"><br>
                                    <a href="<%=data.url%>" download="<%=data.url%>" class="btn btn-sm btn-primary mt-3 br">Download</a>
                                </div>
                            </div>  
                        </div>
                    <%} else { %>
                        <%if (typeof(message) !== "undefined") { %>
                            <div class="card p-3 shadow bg2 br w-75 mt-3">
                                <small class="text-danger"><%=message%></small>
                            </div>    
                        <% } %>
                    <% } %>
                </div>
                <div class="col-lg-6 mt-5">
                    <img src="Pictures/ms.png" class="w-100 move" alt="">
                </div>
            </div>
        </div>       
    </section>
</section>

<section class="bgimg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="w-75 mx-auto">
                    <h3 class="mt-2"><b>Supported Platform</b></h3>
                    <img src="images/os.phone.png" class="os w-75 mt-4" alt="">
                </div>
            </div>
        </div>
    </div>
    <h6 class="mt-4 text-center col-lg-10 mx-auto">
        With our YouTube video downloader, you can select videos and download them free of charge!You can get high-quality videos in MP4,HD, Full HD quality, and other formats. Our software works both on PC and mobile, allowing you to use it anywhere you are!
    </h6>
    <h6 class="mt-1 text-center col-lg-10 mx-auto">
          YouTube video download has never been so simple! Don’t waste your time. Just install our software on your devices and enjoy free content!
    </h6>
</section>
<section class="bg-2 text-light text-center">
    <div class="container p-5">
        <div class="col-lg-9 mx-auto">
            <h3 class="">How to save YouTube videos in various formats</h3>
            <p class="mt-3">1. If you want to download YouTube videos in HD or MP4, use Televzr Downloader.<br>
            <p>2. YouTube video download is also possible with Ummy. Just click on the buttons “HD via Ummy” or “MP3 via Ummy” below the video you want to save.</p>
            <p>3. Once you’ve installed the YouTube downloader app on your computer, you’ll see the “Download” button below each video.</p>
            <p>4. This method allows to download youtube videos to Mac OS and works with all versions of Windows.</p>
        </div>
    </div>
</section>

<%- include("Layouts/footer.ejs"); %>